#colorpopup .colorbtn[data-color=null] {
  background: repeating-linear-gradient(
  45deg,
  #333,
  #333 10px,
  #555 10px,
  #555 20px
);
}

#colorpopup .colorbtn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 2.5px;
  vertical-align: bottom;
}

#colorpopup {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

#colorpopup {
  right: 0px;
  left: auto;
}

.wolfram-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #444;
}

.wolfram-row {
  display: table-row;
}

.wolfram-data, .wolfram-header {
  display: table-cell;
  padding: .4rem;
  border: 1px solid #444;
}

.wolfram-header {
  text-transform: capitalize;
}

.wolfram-footer {
  margin-top: .4rem;
  margin-bottom: -.4rem;
}

.wolfram-table ~ .wolfram-footer{
  font-size: 12px !important;
  color: #888;
  font-style: italic;
}

.wolfram {
  padding-bottom: .8rem;
}

.wolfram-row-continued * {
  border-bottom: none;
}

.wolfram-row-continuation * {
  border-top: none;
  border-bottom: none;
}

.wolfram-row-continuation:first-child .wolfram-header {
  display: none;
}

body.nice_navbar nav.navbar {
  transition: border-width 500ms, background 500ms;
  border-bottom-width: 0;
}

body.nice_navbar nav.navbar:not(.visible) {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3), transparent);
  border-color: rgba(0,0,0,0);
  border-top-color: rgba(0,0,0,0.6);
}

body.nice_navbar nav.navbar:not(:hover):not(:focus):not(.visible) * {
  text-shadow: 0 0 2px rgba(0,0,0,0.8),0 0 2px rgba(0,0,0,0.8);
}

.profile-image {
	max-width:80px;
	max-height:80px;
	height: auto;
  width: auto;
}

#userlisttoggle, .custom-label {
  display: inline-block;
  padding: 0px 12px !important;
  line-height: 24px;
  height: auto !important;
  margin: 2px 2px 2px 2px !important;
  border-radius: 2px;
  vertical-align: top !important;
  top: initial;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.custom-label.label-default, #userlisttoggle {
  background-color: rgba(0,0,0,0.5);
}

#more-opts {
  right: 0;
  max-width: 320px;
  width: 100%;
  left: auto;
  margin: 0;
}

#chatheader {
  padding: 0;
  position: relative;
}

#usercount {
  line-height: 28px;
}

#userlist {
  width: 160px!important;
}

#lyrics_menu+.btn{
  margin-left: -1px;
}

* {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

body.hideafkicons .userlist_afk .glyphicon-time:before {
  display: none;
}

.userlist_op,.userlist_owner {
    font-weight: bold!important;
}

body.thinnames :not(.userlist_op):not(.userlist_owner)>.username {
    font-weight: normal!important;
}

body:not(.chatcolors) .username {  
  color: inherit !important;
}

.userlist_owner .username, .userlist_op .username, .userlist_siteadmin .username {
  color: inherit !important;
}

body:not(.chatcolors) .userlist_item > span:nth-child(2):not(.userlist_owner):not(.userlist_op):not(.userlist_siteadmin) {
  color: inherit !important;
}

#messagebuffer > div {
  overflow-y: hidden
}

body.newchat #messagebuffer>div>span:nth-child(2) {
  display: table-cell;
  text-align: right;
  overflow: hidden;
}

body.newchat #messagebuffer [class^="username"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: inline-block;
}

body.newchat #messagebuffer>div>span:nth-child(2) {
  width: 11.4rem;
}

body.newchat #messagebuffer .username {
  width: 11rem;
}

body.newchat #messagebuffer {
  white-space: nowrap;
}

body.newchat #messagebuffer>div>:last-child {
  word-break: normal!important;
  white-space: normal!important;
}

body.newchat #messagebuffer>div {
  display: block;
}

body.newchat #messagebuffer>div>span {
  display: table-cell;
  vertical-align: top;
  padding: 0 2px;
}

body.visited-links #schedulelist a:before,
body.visited-links #playlistrow a:before {
  content: '✓';
  display: inline-block;
  color: #2a2d30;
  background: #2a2d30;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  vertical-align: baseline;
  margin-right: .4rem;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.2rem;
}

body.visited-links #schedulelist a:visited:before,
body.visited-links #playlistrow a:visited:before {
  color: #fff;
}

#customcontrols .btn {
  margin-right: inherit !important;;
}

.synchtube #userlist {
  border-left: medium none !important;
  border-right: 1px solid #151515 !important;
}

body.emote_disable .channel-emote, body.emote_disable .channel-user-emote {
  display: none;
}

body:not(.emote_disable) .emote-fallback {
  display: none;
}

body.intro_disable [data-type="intro"] {
  display: none;
}

.userlist_item {
  margin: 0;
}

.channel-user-emote {
  max-width: 300px;
  max-height: 100px;
  vertical-align: middle;
}

.channel-emote {
  max-width: 450px;
  max-height: 200px;
}

.pm-buffer .channel-emote,
.pm-buffer .channel-user-emote {
  max-height: 50px;
  width: auto;
}

.pm-buffer .anttext .channel-emote,
.pm-buffer .anttext .channel-user-emote {
  max-height: 25px;
  width: auto;
}

[data-star="2"] > span:first-child:before {
  margin: 0 !important;
  padding: 0px !important;
  content: "★";
  font-size: 16px;
  line-height: 0px;
}

.user-dropdown {
  top: 100%!important;
  border: none !important;
  margin-top: 1px !important;
  border-radius: 1px !important;
}

.user-dropdown {
  position: initial;
}

.user-dropdown > strong, .user-dropdown > br {
  display: none;
}

.userlist_guest {
  opacity: 0.5;
}

.userlist_op,.userlist_owner {
  font-weight: bold!important;
}

#userlist :not(.userlist_op):not(.userlist_owner)>.username {
  font-weight: normal!important;
}

.ghost > .username {
  opacity: 0.6;
}

.userlist_item {
  position: relative;
  border-bottom: 1px solid rgba(100,100,100,0.2);
  display: flex;
  flex-flow: row-reverse wrap;
}

.userlist_item:nth-child(2n) {
  background: rgba(255,255,255,0.05) 
}

.userlist_item:before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: .3rem;
  vertical-align: middle;
  text-align: center;
}

.userlist_item > span:nth-child(2) {
  border-left: 2px solid;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  height: 22px;
  line-height: 22px;
  padding: 0 3px 0 4px;
}
  
.userlist_item > span:first-child:before {
  margin: 0 2px;
}
  
.userlist_item > span:first-child {
  padding: 0 3px;
  height: 22px;
  line-height: 22px;
}

.userlist_item :nth-child(3) {
  flex-shrink: 0;
  position: relative;
  width: 100% !important;
  left: 0;
}
  
.user-dropdown {
  max-width: 100% !important;
  display: block;
  flex-grow: 1
}

[data-type="intro"] .username {
  display: none;
}

[data-type=intro] > :last-child {
  font-size: 9pt;
}

#time_display {
  margin-left: 8px;
}

/*************** FORMATTING ***************/

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.redtext {
  color: #da5e68;
}

.annatext {
  color: #49d310;
}

.elsatext {
  color: #429fe9;
}

.elsannatext {
  color: #8bfff9;
}

.oranjetext {
  color: #fa832c;
}

.yellowtext {
  color: #f5d618;
}

.gentletext {
  color: #444444;
}

.browntext {
  color: #933402;
}

.purpletext {
  color: #7347d9;
}

.kristannatext {
  color: #dcff12;
}

.anttext {
  font-size: 66%;
}

.spoiler {
  display: none;
}

.spoilerfix {
  display: inline-block;
  color: #000000;
  background-color: #000000;
}

.spoilerfix:hover {
  color: #ffffff;
}

.spoilerfix img {
  opacity: 0;
}

.spoilerfix:hover img {
  opacity: 1;
}

.gentletext .channel-emote {
  opacity: 0.2;
}

.anttext .channel-emote {
  max-height: 50px;
  width: auto;
}

.italic .channel-emote {
  behavior: url(-ms-transform.htc);
  transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.0872664626, M12=-0.0872664626, M21=0.0872664626, M22=0.0872664626);
 /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.0872664626, M12=-0.0872664626, M21=00.0872664626, M22=0.0872664626)";
 /* IE8 */;
}

.upside_down .channel-emote {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.mirror .channel-emote {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

strong .channel-emote {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.round .channel-emote {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}

code .channel-emote {
  display: none;
}

.bigemote .channel-emote {
  width: auto;
  height: 200px;
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 10000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 10000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.invert .channel-emote {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}

.sepia .channel-emote {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}

.contrast .channel-emote {
  -webkit-filter: contrast(300%);
  -moz-filter: contrast(300%);
  -o-filter: contrast(300%);
  -ms-filter: contrast(300%);
  filter: contrast(300%);
}

.gray .channel-emote {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.vvblur .channel-emote {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.vblur .channel-emote {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.blur .channel-emote {
  -webkit-filter: blur(2.5px);
  -moz-filter: blur(2.5px);
  -o-filter: blur(2.5px);
  -ms-filter: blur(2.5px);
  filter: blur(2.5px);
}

video.channel-emote {
  vertical-align: middle;
}

.pm-panel .anttext .channel-emote {
  height: 25px;
  width: auto;
}

.mirrortwo .channel-emote {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.hspin {
  -moz-animation: spinHorizontal 2s infinite linear;
  -o-animation: spinHorizontal 2s infinite linear;
  -webkit-animation: spinHorizontal 2s infinite linear;
  animation: spinHorizontal 2s infinite linear;
}

.hfspin {
  -moz-animation: spinHorizontal 0.2s infinite linear;
  -o-animation: spinHorizontal 0.2s infinite linear;
  -webkit-animation: spinHorizontal 0.2s infinite linear;
  animation: spinHorizontal 0.2s infinite linear;
}

.heavy .mirror .channel-emote {
  display: none;
}

.mirror .heavy .channel-emote {
  display: none;
}

.heavy .channel-emote {
  display: inline-block;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: shake-base;
  -ms-animation-name: shake-base;
  animation-name: shake-base;
  -webkit-animation-duration: 100ms;
  -ms-animation-duration: 100ms;
  animation-duration: 100ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}

.panel-primary >.panel-heading {
  animation-name: blink_pm;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-play-state: running;
}

.snow #mainpage, .chatOnly.snow #chatwrap {
  background-image: url("//b.thumbs.redditmedia.com/OdcRQL9gi4eUxyPXqDtDWdRukGj7yxz4UtxLdDZUdZQ.png"), url("//b.thumbs.redditmedia.com/0o8P7ZNL_G87asJqArZneHd_lDOsJfPnKNbOFLUf1ik.png"), url("//b.thumbs.redditmedia.com/qmkwjr9UVRDmV9MBibRDVLWEUVLrFEtTXXuAn3TfJ9Q.png");
  animation: 20s linear 0s normal none infinite running snow;
}

/**************** KEYFRAMES ***************/

@keyframes blink_pm {
  0% {
    background-color: rgba(120, 126, 132, 0.85);
  }
  49% {
    background-color: rgba(120, 126, 132, 0.85);
  }
  50% {
    background-color: #4C5155;
  }
  99% {
    background-color: #4C5155;
  }
}

@-webkit-keyframes blink_pm {
  0% {
    background-color: rgba(120, 126, 132, 0.85);
  }
  49% {
    background-color: rgba(120, 126, 132, 0.85);
  }
  50% {
    background-color: #4C5155;
  }
  99% {
    background-color: #4C5155;
  }
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  };
}

@-webkit-keyframes spinHorizontal {
  0% {
    -webkit-transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  };
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  };
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  };
}

@keyframes shake-base {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  2% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }

  4% {
    transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }

  6% {
    transform: translate(1.5px, 1.5px) rotate(-1.5deg);
  }

  8% {
    transform: translate(-1.5px, -2.5px) rotate(0.5deg);
  }

  10% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }

  12% {
    transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }

  14% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }

  16% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }

  18% {
    transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }

  20% {
    transform: translate(-2.5px, 0.5px) rotate(-1.5deg);
  }

  22% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }

  24% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }

  26% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  28% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }

  30% {
    transform: translate(-2.5px, 0.5px) rotate(0.5deg);
  }

  32% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }

  34% {
    transform: translate(0.5px, -2.5px) rotate(-1.5deg);
  }

  36% {
    transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }

  38% {
    transform: translate(-2.5px, -0.5px) rotate(0.5deg);
  }

  40% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  42% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }

  44% {
    transform: translate(-2.5px, -2.5px) rotate(0.5deg);
  }

  46% {
    transform: translate(0.5px, -2.5px) rotate(0.5deg);
  }

  48% {
    transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
  }

  50% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }

  52% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg);
  }

  54% {
    transform: translate(-2.5px, 0.5px) rotate(-1.5deg);
  }

  56% {
    transform: translate(-2.5px, 1.5px) rotate(0.5deg);
  }

  58% {
    transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }

  60% {
    transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
  }

  62% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  64% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }

  66% {
    transform: translate(-2.5px, 0.5px) rotate(-0.5deg);
  }

  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }

  70% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  72% {
    transform: translate(-2.5px, 1.5px) rotate(0.5deg);
  }

  74% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg);
  }

  76% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg);
  }

  78% {
    transform: translate(-0.5px, -2.5px) rotate(0.5deg);
  }

  80% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg);
  }

  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  84% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }

  86% {
    transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }

  88% {
    transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
  }

  90% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  92% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }

  94% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }

  96% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }

  98% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg);
  };
}

@-webkit-keyframes shake-base {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }

  2% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  4% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }

  6% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }

  8% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg);
  }

  10% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(-1.5deg);
  }

  12% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
  }

  14% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(-0.5deg);
  }

  16% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  18% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg);
  }

  20% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(-1.5deg);
  }

  22% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(-1.5deg);
  }

  24% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(-1.5deg);
  }

  26% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }

  28% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }

  30% {
    -webkit-transform: translate(-2.5px, 1.5px) rotate(0.5deg);
  }

  32% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }

  34% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg);
  }

  36% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }

  38% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }

  40% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }

  42% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }

  44% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }

  46% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }

  48% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }

  50% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }

  52% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
  }

  54% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(-1.5deg);
  }

  56% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-1.5deg);
  }

  58% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  60% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-0.5deg);
  }

  62% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(-0.5deg);
  }

  64% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(0.5deg);
  }

  66% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg);
  }

  68% {
    -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg);
  }

  70% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg);
  }

  72% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg);
  }

  74% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg);
  }

  76% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg);
  }

  78% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg);
  }

  80% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg);
  }

  82% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg);
  }

  84% {
    -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg);
  }

  86% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg);
  }

  88% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg);
  }

  90% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg);
  }

  92% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }

  94% {
    -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg);
  }

  96% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg);
  }

  98% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  };
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@media(max-width: 1366px) {
    body:not(.chatOnly).synchtube.fluid.large-chat .col-lg-7 {
       width: 38.3333% !important;
    }

    body:not(.chatOnly).synchtube.fluid.large-chat #chatwrap {
       width: 61.6667%;
    }
    
    body:not(.chatOnly).synchtube.fluid.large-chat #chatwrap {
        position: absolute;
        right: 0;
    }

    body:not(.chatOnly).synchtube.fluid.large-chat #userlist, body:not(.chatOnly).synchtube.fluid.large-chat #messagebuffer {
        height: 660px !important;
    }

    body:not(.chatOnly).synchtube.fluid.large-chat #rightcontrols, body:not(.chatOnly).synchtube.fluid.large-chat #leftcontrols {
        float: none;
    }

    body:not(.chatOnly).synchtube.fluid.large-chat #leftcontrols {
        float: initial !important;
        clear: both;
    }

    body:not(.chatOnly).synchtube.fluid.large-chat #mediarefresh, body:not(.chatOnly).synchtube.fluid.large-chat #voteskip {
        font-size: 0;
        width: auto !important;
    }

    body:not(.chatOnly).synchtube.fluid.large-chat #mediarefresh .glyphicon, body:not(.chatOnly).synchtube.fluid.large-chat #voteskip .glyphicon {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (max-width: 1024px) {  
  body.chatOnly .custom-label, body.chatOnly #userlisttoggle {
    padding: 6px 12px !important;
  }
  
  body.chatOnly #usercount {
    line-height: 40px;
  }
  
  body.chatOnly #chatheader {
    height: 42px;
  }
  
  body.chatOnly .dropdown-menu > li > a {
    padding: 12px 20px;
  }
  
  body.chatOnly .userlist_item > span:first-child {
    height: 32px;
    line-height: 32px;
  }
  
  body.chatOnly .userlist_item span:nth-child(2) {
    padding: 0px 8px;
    height: 32px;
    line-height: 32px;
  }
  
  body.chatOnly button.close {
    background: rgba(255,255,255,0.6);
    line-height: 40px;
    width: 40px;
    border-radius: 2px;
  }
  
  body.chatOnly #pmbar .panel-heading {
    position: relative;
  }
  
  body.chatOnly #pmbar button.close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
  }
  
  body.chatOnly #usercount .profile-box {
    display: block;
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    right: 0 !important;
  }

  body.chatOnly #usercount {
    margin: 0 16px;
  }
  body.chatOnly #usercount {
    float: left;
  }
  
  body.chatOnly .user-dropdown button {
    padding: 6px;
  }
  
  .modal .modal-dialog {
    transform: none !important;
    margin: 0;
  }
  
  #emotelist tr, #emotelist td {
    display: inline !important;
  }

  .emote-preview-container {
    margin: 2px;
  }

  #emotelist label {
    font-size: 0 !important;
  }

  #emotelist label:after {
    font-size: 16px;
    content: "A→Z";
  }
  
  .modal-footer {
    display: none;
  }
}

@media (max-width: 420px) {
  #more-opts {
    max-width: 100%;
    border-left: medium none;
    border-right: medium none;
  }
}

body.integrated_profile #userlist .profile-box {
  display: block;
  width: 100%;
  position: relative;
  left: 0!important;
  top: 0!important;
  border: none !important;
}

#pmbar.back .panel.panel-default {
  display: none;
}

#newmessages-indicator-bghack {
  position: absolute;
  margin-left: -165px;
  top: -34px;
  padding: 0 4px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

#newmessages-indicator .glyphicon {
  margin: 0 4px;
}

#newmessages-indicator {
  cursor: initial !important;
}

#newmessages-indicator-bghack * {
  vertical-align: middle;
}

#newmessages-indicator-bghack:hover {
  background: #357;
}

#usercount {
max-width: 2rem !important;
display: inline-block;
overflow: hidden;
max-height: 28px;
}
